<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Pizzeria</title>
</head>

<body>
	<header>
		<h1>La Florentina</h1>
		<h2>Gestion des pizzas</h2>

	</header>
	<nav>
		<a href="./AjouterPizza.html">Ajouter </a> | <a href="./Accueil.html">Accueil</a>
	</nav>
	<section>
		<!-- liste des pizzas -->
		<table>
			<thead>
				<th align="left">Id.</th>
				<th align="left">Libellé</th>
				<th align="left">Référence</th>
				<th align="left">Prix</th>
				<th align="left">Photo</th>
			</thead>
			<tbody>%s
			</tbody>
		</table>
	</section>
	<footer>
		Copyright La Florentina - Tous droits réservés <br> <a href="#">Nous
			contacter </a>
	</footer>
</body>

</html>